{% extends 'accounts/base_accounts.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Sign Up{% endblock %}
{% block content %}
    <div class="col-lg-7">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4">Nowy Account</h3></div>
            <div class="card-body">
                <form method="post">{% csrf_token %}
                   <!-- General forms Errors -->
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                <div id="check-password"
                        hx-post="{% url 'accounts:valid-password' %}"
                        hx-target="#error-password"
                        hx-trigger="keyup">
                    <div class="form-floating mb-3">
                          {%  render_field form.first_name class="form-control" placeholder='Your name'%}
                          <label for="{{ form.first_name.id_for_label }}">Your name</label>
                    </div>
                    <div class="form-floating mb-3">
                          {%  render_field form.last_name class="form-control" placeholder='Last name'%}
                          <label for="{{ form.last_name.id_for_label }}">Your last name</label>
                    </div>
                <div id="error-name" style="color: red;"></div>
                    <div class="form-floating mb-3">
                          {%  render_field form.username class="form-control" placeholder='login' hx-get="/check-existing-name/" hx-target="#error-name" hx-trigger="keyup change" %}
                          <label for="{{ form.username.id_for_label }}">Login</label>
                    <p style="color: #777777; font-size: 15px;">
                        150 characters or less. Only letters, numbers i @/./+/-/_ .</p>
                    </div>
                        {% if form.password1.errors %}
                            {% for error in form.password1.errors %}
                                      <strong>{{ error|escape }}</strong>
                            {% endfor %}
                         {% endif %}
                <div id="error-password" style="color: red"></div>
                <div class="form-floating mb-3">
                    {%  render_field form.password1 class="form-control" placeholder='Password' %}
                        <label for="{{ form.password.id_for_label }}">Password</label>
                        <ul style="color: #777777; font-size: 15px;">
                            <li>Your password must not be too similar to your other personal information</li>
                            <li>Password must be at least 8 characters long</li>
                            <li>Your password must not be a common password</li>
                            <li>Your password cannot be entirely numeric</li>
                        </ul>
                        </div>
                </div>
                        <div class="form-floating mb-3">
                        {% if form.password2.errors %}
                                      {% for error in form.password1.errors %}
                                      <strong>{{ error }}</strong>
                            {% endfor %}
                         {% endif %}
                           {%  render_field form.password2 class="form-control" placeholder='Password2'%}
                           <label for="{{ form.password2.id_for_label }}">Password2</label>
                         <p style="color: #777777; font-size: 15px;">Enter the same password as before for verification.</p>
                        </div>
                    <div class="mt-4 mb-0">
                        <div class="d-grid"><button type="submit" class="btn btn-primary" >Create Account</button></div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center py-3">
                <div class="small"><a href="{% url 'accounts:login' %}">Already have an account? Sigh in</a></div>
            </div>
        </div>
    </div>
{% endblock %}