{% load static %}
{% load msgs_unread %}
        <div class="modal-body">
            <div class="p-3"> 
              <!-- search discution -->  
              <div class="input-group rounded mb-3">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                  aria-describedby="search-addon" />
                <button class="btn btn-secondary" id="search-addon">
                  <i class="bi bi-search"></i>
                </button>
              </div>
              <!-- List all discutions -->
              <div data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
                <ul class="list-group mb-0">
                  {% for room in rooms %}
                  <li class="p-2 list-group-item list-group-item-action">
                    <a href="{% url 'chat:chat-room' room.name %}" class="d-flex justify-content-between">
                      <div class="d-flex flex-row">
                        <div>
                          {% for user in room.users.all %}
                            {% if room.users.all.count != 2 %}                              
                            <div class="container me-3 position-relative" width="60">
                                <div class="row row-cols-2">
                                  {% if user != request.user %}
                                  <div class="col">
                                    <img src="{{ user.profile.image.url }}" alt="avatar" width="30">
                                  </div>
                                  {% endif %}
                                </div>
                            </div>
                            {% else %}
                              {% if user != request.user %}
                              <img
                                src="{{ user.profile.image.url }}"
                                alt="avatar" class="d-flex align-self-center me-3 position-relative" width="60">
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                          {% for user in room.users.all %}
                            <!-- Green dot in online -->
                            {% if user != request.user and user in room.online.all %}
                            <span class="position-absolute top-0 translate-middle p-2 bg-success rounded-circle"></span>
                            {% endif %}
                          {% endfor %}
                        </div>
                        <div class="pt-1">
                          {% for user in room.users.all %}
                            {% if user != request.user %}
                            <p class="fw-bold mb-0">{{ user.first_name }}  {{ user.last_name }}</p>
                            {% endif %}
                          {% endfor %}
                          {% if room|unread:request.user != 0 %}
                              <p class="small text-muted">{{ request.user|unread_last }}</p>
                          {% endif %}
                        </div>
                      </div>
                      <div class="pt-1">
                        <p class="small text-muted mb-1">Just now</p>
                        <span class="badge bg-danger rounded-pill float-end">{{ room|unread:request.user }}</span>
                      </div>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
  
            </div>
        </div>